<footer xmlns:th="http://www.thymeleaf.org" class="og-site-footer">
	<span class="og-footer-left">
		&copy; Copyright 2026 LogicielCote.COM<br />
		<span  th:text="'Version: ' + ${SiteVersion}"></span>
	</span>
	<span class="og-footer-center">
		Contact: <a href="mailto:Pierre@logicielcote.com">
		Pierre@LogicielCote.com</a>
	</span>
	<span class="og-footer-right">
		<span class="og-footer-right"
			  th:text="'Rendered on: ' + ${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm')}">
		</span><br />
		<span th:text="'Renderer in: ' + ${Timer.elapsedTime}"></span>
	</span>

	<span style="font-size: 0pt" th:text="'
' + ${Timer.results}"></span>
</footer>
</body>
