<header xmlns:th="http://www.thymeleaf.org" class="site-header">
	<a class="brand" th:href="@{/}">Offgrid</a>
	<nav class="menu">
		<ul>
			<li><a href="#">Destinations</a></li>
			<li class="has-submenu" x-data="{ open: false }" @click.outside="open = false" @keydown.escape="open = false">
				<button type="button" @click="open = !open" :aria-expanded="open" aria-haspopup="true">Hardware</button>
				<ul class="submenu" x-show="open" x-cloak>
					<li><a href="#">The van</a></li>
					<li><a href="#">Howto</a></li>
					<li><a href="#">Checklist</a></li>
					<li><a href="#">The Bronco</a></li>
				</ul>
			</li>
			<li><a href="#">Blog</a></li>
			<li class="has-submenu" x-data="{ open: false }" @click.outside="open = false" @keydown.escape="open = false">
				<button type="button" @click="open = !open" :aria-expanded="open" aria-haspopup="true">Info</button>
				<ul class="submenu" x-show="open" x-cloak>
					<li><a href="#">About</a></li>
					<li><a href="#">Useful links</a></li>
					<li><a href="#">Useful contacts</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>

<div xmlns:th="http://www.thymeleaf.org" class="messages">
	<div class="message message-user" th:each="userMessage : ${UserMessageList}" th:text="${userMessage}"></div>
	<div class="message message-warning" th:each="warningMessage : ${WarningMessageList}" th:text="${warningMessage}"></div>
	<div class="message message-error" th:each="errorMessage : ${ErrorMessageList}" th:text="${errorMessage}"></div>
</div>
