<div xmlns:th="http://www.thymeleaf.org"
	 th:if="${pageData.actualList != null and not #lists.isEmpty(pageData.actualList)}">
	<table class="og-maintenance">
		<colgroup>
			<col style="width:15%;"/>
			<col style="width:15%;"/>
			<col style="width:15%;"/>
			<col style="width:30%;"/>
			<col style="width:10%;"/>
			<col style="width:15%;"/>
		</colgroup>
		<thead>
		<tr>
			<th>Date</th>
			<th>Odometer</th>
			<th>Shop</th>
			<th>Work</th>
			<th>Cost</th>
			<th>Next due</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="entry : ${pageData.actualList}">
			<td th:text="${entry.date}">Date</td>
			<td th:text="${entry.odometerKm == null} ? '' : ${#numbers.formatInteger(entry.odometerKm, 1, 'COMMA') + ' km'}">
				Odometer
			</td>
			<td>
				<th:block th:if="${entry.shopUrl}"><span
						th:replace="~{fragments/block/link :: link(${entry.shopUrl})}"></span>[[${entry.shopName}]]</a></th:block>
				<span th:unless="${entry.shopUrl}" th:text="${entry.shopName}">Shop</span>
			</td>
			<td>
				<th:block th:if="${entry.workUrl}"><span
						th:replace="~{fragments/block/link :: link(${entry.workUrl})}"></span>[[${entry.workName}]]</a></th:block>
				<span th:unless="${entry.workUrl}" th:text="${entry.workName}">Work</span>
			</td>
			<td th:text="${entry.costCad == null} ? '' : ${'$' + #numbers.formatDecimal(entry.costCad, 1, 'COMMA', 2, 'POINT')}">
				Cost
			</td>
			<td>
				<span th:if="${entry.nextDue}">
					<span th:if="${entry.nextDue.nextDueKm}"
						  th:text="${#numbers.formatInteger(entry.nextDue.nextDueKm, 1, 'COMMA') + ' km'}">Next km</span>
					<br th:if="${entry.nextDue.nextDueKm != null and entry.nextDue.nextDueDate != null}"/>
					<span th:if="${entry.nextDue.nextDueDate}" th:text="${entry.nextDue.nextDueDate}">Next date</span>
				</span>
			</td>
		</tr>
		</tbody>
	</table>
</div>
