<div xmlns:th="http://www.thymeleaf.org" class="note-list">
	<section class="note-section" th:each="noteSection : ${pageData.noteList}">
		<h3 class="gl-heading" th:text="${noteSection.sectionName}">Section name</h3>

		<table>
			<tbody>
			<tr th:each="noteItem : ${noteSection.itemList}">
				<td class="note-name">
					<a th:if="${noteItem.url}" th:href="${noteItem.url}" target="_blank"
					   rel="noopener noreferrer" th:text="${noteItem.name}">Name</a>
					<span th:unless="${noteItem.url}" th:text="${noteItem.name}">Name</span>
				</td>
				<td class="note-description"
					th:utext="${#strings.listJoin(noteItem.description, ' ')}">Description</td>
			</tr>
			</tbody>
		</table>
	</section>
</div>
