<div xmlns:th="http://www.thymeleaf.org" th:fragment="gallery(galleryName)" class="gl-gallery-grid"
	 th:with="galleryData=${pageData.photoGalleries == null ? null : pageData.photoGalleries.get(galleryName)}">
	<figure class="gl-gallery-item" th:each="itemEntry : ${galleryData}"
			th:with="itemId=${itemEntry.key}, item=${itemEntry.value}"
			th:id="'gl-photo-' + ${galleryName} + '-' + ${itemId}">
		<a data-lightbox th:href="@{/image/{imageName}(imageName=${item.img})}"
		   th:attr="data-caption=${item.label}" href="">
			<img th:src="@{/image/{imageName}(imageName=${item.img})}"
				 th:alt="${item.label}" src="" alt="">
		</a>
		<figcaption th:text="${item.label}">Caption</figcaption>
	</figure>
</div>
