<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-10t] %-5level %-25logger{1} - %msg%n"
					disableAnsi="false"/>
<!--
			<PatternLayout
					pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-10t] %-5level %-25logger{1} - %msg%n"/>
-->
		</Console>
	</Appenders>

	<Loggers>
		<!-- The acceptor logs an ERROR for each connection whose peer is already gone when
		     the socket options are applied. Nothing of ours is on that stack. -->
		<Logger name="org.apache.tomcat.util.net.NioEndpoint" level="off"/>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
<!--
		<Logger name="com.lc.bc.LibraryLocalTests" level="info"/>
-->
	</Loggers>

</Configuration>
