<section data-howto-section="howto">

	<p>
		The awning is fully automated, easy stuff.
		The hardest part if finding the
		<span data-block-type="photoRef" data-id="howto/awning-panel-location"></span>.
		The awning is located on the right side of the Garmin panel.

	</p>
	<div data-block-type="warning"
		 data-text="You should always keep an eye on the awning during operation.">
	</div>

	<details open>
		<summary><h2 style="display:inline;">To extend</h2></summary>
		<ol>
			<li>Look at the
				<span data-block-type="photoRef" data-id="howto/awning-control-panel"></span>,
				located just to the right of the Garmin panel
			</li>
			<li>Make sure the left toggle is set to ON</li>
			<li>Press (no need to hold) <b>extend</b> on the right switch</li>
			<li>The awning will now extend</li>
			<li>When done, you may set the left toggle to off</li>
		</ol>
	</details>

	<details open>
		<summary><h2 style="display:inline;">To retract</h2></summary>
		<ol>
			<li>Look at the
				<span data-block-type="photoRef" data-id="howto/awning-control-panel"></span>,
				located just to the right of the Garmin panel
			</li>
			<li>Make sure the left toggle is set to ON</li>
			<li>Press (no need to hold) <b>retract</b> on the right switch</li>
			<li>The awning will now retract</li>
			<li>When done, you may set the left toggle to off</li>
		</ol>
	</details>
	<div data-block-type="photoGallery" data-gallery="howto"></div>
</section>

<details>
	<summary><h2 style="display:inline;">The details</h2></summary>
	<p style="margin-top:0;">
		This is a test, once you have located the awning controls,
		it is obviously trivial to extend/retract.
	</p>
	<p>
		By using a simple howto, it gives me a chance to work out the parts,
		without needing to compose the potentially tricky steps.
	</p>
</details>
<details>
	<summary><h2 style="display:inline;">Supplier documentation</h2></summary>
	<div data-block-type="notes"></div>
</details>
<br/>
<div data-block-type="backToGallery"></div>
