<section data-howto-section="howto">

	<div style="display:flex;align-items:flex-start;justify-content:space-between;margin-bottom:1.5rem;">
		<div data-block-type="photo" style="width:28%;float:none;margin:0;" data-img="12V206H_img.jpg"></div>
		<div data-block-type="photo" style="width:65%;float:none;margin:0;" data-img="control-panel.png"></div>
	</div>


	<p>
		The van has been upgrated with two SOK
		<span data-block-type="photoRef" data-id="howto/12V206H_img"></span>
		batteries, giving it 412 Ah of available energy.
		Which? ☐ SK12V206H &nbsp;&nbsp;☐ SK12V206PH &nbsp;&nbsp; ☐ SK12V206P
	</p>

	<p>
		There are several variables/configuration depending on the conditions.
	</p>

	<ol>
		<li>Shore power, typically 30A circuit</li>
		<li>Generator (2.8 KW)</li>
		<li>Ford Alternator</li>
		<li>Solar panels (220 W)</li>
		<li>Inverter (2,000 W)</li>
		<li>The Truma panel, left of the garmin control panel</li>
		<li>The Disconnect button, right of the garmin panel</li>
		<li>The Solar button, right of the garmin panel</li>
	</ol>
	<br />

	<table class="gl-table">
		<colgroup>
			<col style="width:15%;"/>
			<col style="width:10%;"/>
			<col style="width:10%;"/>
			<col style="width:10%;"/>
			<col style="width:10%;"/>
			<col style="width:10%;"/>
			<col/>
		</colgroup>
		<thead>
		<tr>
			<th>Where</th>
			<th>Generator<sup>1</sup></th>
			<th>Inverter</th>
			<th>Solar</th>
			<th>Disc.</th>
			<th>Truma</th>
			<th>Notes</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Storage</td>
			<td>No</td>
			<td>Charge<br>if Disc.</td>
			<td>No</td>
			<td>
				☐ On <br/>☐Off
			</td>
			<td>Off</td>
			<td>House<br />(15 A)</td>
		</tr>
		<tr>
			<td>Camping<br />Plugged</td>
			<td>No</td>
			<td>Charge</td>
			<td>On</td>
			<td>On</td>
			<td>On</td>
			<td>Shore<br />(30 A)</td>
		</tr>
		<tr>
			<td>Camping<br />Unplugged</td>
			<td>A/R<sup>2</sup></td>
			<td>A/R<sup>3</sup></td>
			<td>On</td>
			<td>On</td>
			<td>On</td>
			<td>No shore power</td>
		</tr>
		<tr>
			<td>On the road</td>
			<td>A/R</td>
			<td>Charge<br>if Disc.</td>
			<td>
				☐ A/R<br />
				☐ On
			</td>
			<td>
				☐ Follow<br />
				☐ Off
			</td>
			<td>Off</td>
			<td>Ford alternator</td>
		</tr>
		<tr>
			<td>Overnight, at home</td>
			<td>No</td>
			<td>Charge<br>if Disc.</td>
			<td>
				☐ A/R<br />
				☐ On
			</td>
			<td>
				☐ Follow<br />
				☐ On
			</td>
			<td>Off</td>
			<td>No shore power</td>
		</tr>
		</tbody>
	</table>

	<p>
		<sup>1</sup> Generator is used primarily to recharge the battery, may be needed for AC<br />
		<sup>2</sup> A/R means As required/needed, to charge the battery<br />
		<sup>3</sup> Inverter used for appliances requiring 120 VAC<br />
	</p>

	<p>For reference</p>
	<ol>
		<li>
			All off, drain is still about 3/4? <input width="3" size="2"> A <br />
			18 Ah/day;
			126 Ah/week;
			540 Ah/month
		</li>
		<li>
			Disconnect on, everything else off, drain is still about
			TBD&nbsp;&nbsp;
			<input width="3" size="2">
			&nbsp;&nbsp;A
		</li>
		<li>
			Inverter cost is roughly min(1.0, loadWatts / 11)<br />
			0 W = 1.0A;
			100 W = 9 A;
			1200 Watts = 110 A
		</li>

	</ol>

	<div data-block-type="photoGallery" data-gallery="howto"></div>
</section>

<br/>
<div data-block-type="backToGallery"></div>
