<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">Checklist: Sewer at station</h1>

	<p>It's a dirty job, but somebody's got to do it!</p>

	<!-- Getting ready -->
	<section data-howto-section="howto">
		<details>
			<summary><h2 class="og-heading">Getting ready - Have on hand</h2></summary>
			<ol class="og-numcheck">
				<li>The sewer hose &amp; fittings</li>
				<li>A fresh-water hose</li>
				<li>A black-water hose</li>
				<li>Disposable gloves</li>
				<li>Hand sanitizer</li>
			</ol>
		</details>

		<!-- At the station -->
		<details>
			<summary><h2 class="og-heading">At the station</h2></summary>
			<ol class="og-numcheck">
				<li>Remove the sewer cap from the outlet.</li>
				<li>Secure one end of the sewer hose into the dump station drain, using the clear elbow.</li>
				<li>Connect the other end to the van's outlet.</li>
				<li>Validate all connections are correct and secure.</li>
				<li>Open the black water valve first and let it fully drain.</li>
				<li>Close the black water valve once it stops flowing.</li>
				<li>Open the gray water valve and let it fully drain.</li>
				<li>Close the gray water valve once it stops flowing.</li>
				<li>Open the black water valve.</li>
				<li>Connect the black-water hose to the black tank flush port.</li>
				<li>Turn on the water, run it until the flow into the drain runs clear.</li>
				<li>Turn off the water.</li>
				<li>Disconnect the black-water hose from the flush port.</li>
				<li>Close the black water valve.</li>
				<li>Disconnect the sewer hose at the van end, lifting it so any residual liquid drains toward the dump station.</li>
				<li>Close the Van outlet</li>
				<li>Rinse the sewer hose by running the rinse hose (or your fresh-water hose) into its open end.</li>
				<li>Disconnect the sewer hose from the dump station drain.</li>
				<li>Rinse the outlet cap and hose fittings</li>
				<li>Recap the sewer outlet.</li>
				<li>Clean/rinse everything.</li>
				<li>Put away the dirty water hardware & hoses</li>
			</ol>
		</details>

		<details>
			<summary><h2 class="og-heading">Clean water</h2></summary>
			<ol class="og-numcheck">
				<li>Connect the Fresh water hose</li>
				<li>Fill the fresh water tank</li>
				<li>Put away the fresh water hose</li>
				<li>Close all water ports on the van</li>
				<li>Validate everything</li>
			</ol>
		</details>
	</section>
	<div th:replace="~{fragments/block/photo-gallery :: gallery('howto')}"></div>

	<br/>
	<div th:replace="~{fragments/block/back-to-gallery :: back()}"></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
