<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">Checklist: Sewer at campground</h1>

	<p>It's a dirty job, but somebody's got to do it!</p>

	<section data-howto-section="howto">
		<details>
			<summary><h2 class="og-heading">
				Getting ready - Have on hand
			</h2></summary>
			<ol class="og-numcheck">
				<li>The sewer hose &amp; fittings</li>
				<li>A fresh-water hose</li>
				<li>A black-water hose</li>
				<li>Disposable gloves</li>
				<li>Hand sanitizer</li>
			</ol>
		</details>

		<details>
			<summary><h2 class="og-heading">
				Arriving at the campground
			</h2></summary>
			<ol class="og-numcheck">
				<li>Under construction</li>
				<li>Under construction</li>
			</ol>
		</details>

		<details>
			<summary><h2 class="og-heading">
				Departing the campground
			</h2></summary>
			<ol class="og-numcheck">
				<li>Under construction</li>
				<li>Under construction</li>
			</ol>
		</details>

	</section>
	<div th:replace="~{fragments/block/photo-gallery :: gallery('howto')}"></div>

	<br/>
	<div th:replace="~{fragments/block/back-to-gallery :: back()}"></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
