<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>offgrid</title>
	<link rel="stylesheet" th:href="@{/css/site.css}">
	<script defer th:src="@{/js/alpine.min.js}"></script>
	<script defer th:src="@{/js/lightbox.js}"></script>
</head>
<body>
	<div th:replace="~{fragments/site/header}"></div>

	<main>
		<h1 th:text="${PageName}">Rathtrevor, August</h1>
		<p class="gl-dateline" th:text="${pageData.date}">2026-08-15</p>

		<div class="gl-post">
			<p style="margin-top:0;">
				Our first trip without shore power, at BC Park Rathtrevor, near Parksville, lots of learning.
			</p>
			<p>
				The park: Beautiful! The campsites are a bit wider than those at the
				earlier commercial campgrounds, but we are still close to many other
				campers. Yet, we are in the woods, with only wilderness behind us.
				Later, we will explore the park, walking to the beach.
			</p>
			<p>
				When I picked-up the van, the battery was dead.
				Turns out the guy on the web was correct (go figure!) and
				our salesman was not: <b>The power cutoff button is not enough while storing the van</b>.
				It appears "to be understood" that, in this mode, the battery will drain
				in about 1-2 weeks (it did).
				Crawling under the van to physically disconnect the battery (negative post)
				is not realistic. There seems to be two possible solutions
			</p>
			<ol>
				<li>Keeping the van plugged while in storage</li>
				<li>Have an aftermarket master switch installed</li>
			</ol>
			<p>
				While neither option is ideal, we will go for plugged in for the near future.
			</p>
			<p>
				And this brings-up a different question: It is my understanding that,
				while at Peden RV, the van was not plugged in ->
				How much damage has the battery already suffered?
			</p>
			<p>
				For our first night without shore power, we started with 12.8V and finished the night with 12.1V.
				That is with the two cpap machines (10-4=6h + 10-7=9h = 15h @ 1A = 15 Ah) plus 3 coffees.
				According to <a href="https://thecpapstore.ca/products/go-battery-universal-cpap-battery">TheCPAP Store</a>,
				a battery with 24 AH should handle a machine for a single night.
				It feels like half of 300Ah should cover that easily with plenty to spare.
				As it is, we have used all the power from the battery, staying within the limits to not damage it.
			</p>
			<p>
				<b>Question</b>: How healthy is the battery?
			</p>
			<p>
				New item on the todo list: How to evaluate the health of the battery?
			</p>
			<p>
				Conclusions at this point, and it is sad
			</p>
			<ol>
				<li>
					The tires: The information so far is that all Coachmen does is change the rims
					to be able to put on the KO2/3 tires.
					I am not convinced the bigger tire do not require some (minor) fender work, to be determined
				</li>
				<li>
					The internet: The approach of having the get|away router switch
					between cell internet and Starlink internet seems doomed for failure:
					<ol>
						<li>Required two ISP</li>
						<li>Unclear hook up the Starlink to the get|away</li>
						<li>Still unable to connect to the get|away, reset/password on back do not work</li>
					</ol>
				</li>
				<li>
					The power: Storage
					<ol>
						<li>There is no master cutoff switch</li>
						<li>
							Parasitic draw takes down the battery in 1-2 weeks.
							That is when following the instructions from Tony,
							shutting down at the control panel, the buttons
							on the right of the Garmin control panel.
						</li>
						<li>From a full charge, after 3 weeks in storage,
							the battery is (was) deep in damage territory, at 10.7 V,
							essentially at 0%.
						</li>
						<li>
							Without a cutoff switch, a real one, the van must be plugged when in storage;
							That is NOT acceptable.
						</li>
						<li>
							Due to the past event, the battery is damaged, does not hole 300 Ah
						</li>
					</ol>
				</li>
				<li>
					The power: Our experience shows, short form:
					<ol>
						<li>For one night, we need 100-150 Ah</li>
						<li>At a BC park, with 4 hours on generator per day, we cannot fully recharge the battery</li>
						<li>
							On the second morning (best scenario third morning, we will run out of power.
							That means if we want coffee before we can turn on the generator (9:00 AM),
							we will bring the battery below 50% == in damage land.
						</li>
						<li>
							The only conclusion here is: Must go to Lithium.
						</li>
					</ol>
				</li>
			</ol>
		</div>

		<div class="gl-dest-back"><a th:href="@{/blog}">&larr; All posts</a></div>
	</main>

	<div th:replace="~{fragments/site/footer}"></div>
</body>
</html>
