<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">Studying the van, part 1</h1>
	<p class="gl-dateline" th:text="${pageData.date}">2026-06-01</p>

	<div class="gl-post">
		<p style="margin-top:0;">
			So many buttons, so little time.
		</p>
		<p>

		</p>
	</div>

	<div class="gl-dest-back"><a th:href="@{/blog}">&larr; All posts</a></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
