<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">FSR = Logging roads</h1>

	<div class="og-photo" style="width:47%;"
		 th:insert="~{fragments/block/photo :: photo('IMG_0682')}"></div>

	<p style="margin-top:0;">
		BC's FSR are Forestry Service Road. These are built and maintained by the logging companies.
		They are (primarily) intended for their trucks carrying logs, see images on the right.
		The best protection is to carry a radio preset for the RR channels.
		See the links below for more information (Coast radio frequencies and North Island channel map).
	</p>

	<p>
		By their very nature, they are dirt roads of, not necessarily in the best shape.
		Some of the issues you will encounter include
	</p>
	<ol>
		<li>Potholes</li>
		<li>Water</li>
		<li>Washboard</li>
		<li>Large gravel, with sharp edges</li>
		<li>Overgrowth (e.g. abandoned FSR)</li>
	</ol>

	<p>
		Bottom line: Be careful, as the road to each destination likely
		includes portions with different dangers.
		One would like to think the bigger roads (E.g. Menzie) are in better shape,
		that is not necessarily correct.
	</p>

	<div th:replace="~{fragments/block/note-list :: notes('Logging information')}"></div>
	<div th:replace="~{fragments/block/note-list :: notes('Radio information')}"></div>
	<div th:replace="~{fragments/block/note-list :: notes('Road conditions')}"></div>
	<div th:replace="~{fragments/block/note-list :: notes('Recreation sites')}"></div>

	<div th:replace="~{fragments/block/photo-gallery :: gallery('logging')}"></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
