<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">The sky above you</h1>

	<blockquote class="og-quote" style="width: 50%">
		My God, it's full of stars!
		<og-author>
			David Bowman
		</og-author>
	</blockquote>

	<p>
		Most of us live in a city. Even a small city will put a dome of light
		above its sky, severely limiting star visibility. Add that
		your eyes tune themselves for the ambient light level created by modern life,
		it's no wonder we are used to seeing only a few stars.
	</p>

	<blockquote class="og-quote" style="width: 45%">
		Astronomy compels the soul to look upwards and leads us from this world to another.
		<og-author>
			Plato, 428–347 BC
		</og-author>
	</blockquote>

	<p>
		Get away from the city, in one of BC's wonderful parks, look up,
		and let yourself be transformed through a world full of stars.
		The scale of it is humbling while being magnificient.
	</P>

	<details class="og-sky-wide" id="sky-overview" open>
		<summary>The planets, overview</summary>
		<div th:replace="~{fragments/block/sky-fragment :: datePicker('sky-overview')}"></div>
		<div class="og-sky-row">
			<div th:replace="~{fragments/block/sky-fragment :: chart(460)}"></div>
			<div th:replace="~{fragments/block/sky-fragment :: table(false)}"></div>
		</div>
	</details>

	<details class="og-sky-wide" id="sky-details">
		<summary>The planets, details</summary>
		<div th:replace="~{fragments/block/sky-fragment :: datePicker('sky-details')}"></div>
		<div th:replace="~{fragments/block/sky-fragment :: table(true)}"></div>
	</details>

	<details class="og-sky-wide" id="sky-wide-chart">
		<summary>Wide planet chart</summary>
		<div th:replace="~{fragments/block/sky-fragment :: datePicker('sky-wide-chart')}"></div>
		<div th:replace="~{fragments/block/sky-fragment :: chart(950)}"></div>
	</details>
</main>

<div th:replace="~{fragments/site/footer}"></div>

</html>
