<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">Pacific Playgrounds Resort</h1>

	<div th:replace="~{fragments/block/tags}"></div>

	<div th:replace="~{fragments/block/campground}"></div>

	<p>
		This is a beautiful campground, on the water,
		with an excellent, well protected marina.
		There were several larger vessels in the marina,
		much bigger than your standard fishing boat.
		There is also a clean, concrete boat ramp.
	</p>
	<br />
	<p>
		From a strictly camping point of view, we had a site
		on the river, giving a beautiful view.
		When you arrive, make sure to aks for the wifi code
		and the bathroom code :).
	</p>
	<br />
	<div>
		<details>
			<summary><h2 class="gl-heading">Road map</h2></summary>
			<div style="width:750px;height:500px;clear:both"
			 th:insert="~{fragments/block/google-map :: map('road')}"></div>
		</details>
		<p style="margin-top:0;">Under construction</p>
	</div>

	<div th:replace="~{fragments/block/note-list :: notes('Further readings')}"></div>
	<div th:replace="~{fragments/block/photo-gallery :: gallery('photos')}"></div>
	<div th:replace="~{fragments/block/back-to-gallery :: back()}"></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
