<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">Roberts Lake</h1>

	<div th:replace="~{fragments/block/tags}"></div>

	<div>
		<div style="width:750px;height:500px;clear:both"
			 th:insert="~{fragments/block/google-map :: map('road')}"></div>
		<p style="margin-top:0;">Under construction</p>
	</div>

	<div th:replace="~{fragments/block/fishing-references}"></div>
	<div th:replace="~{fragments/block/note-list}"></div>
	<div th:replace="~{fragments/block/photo-gallery :: gallery('photos')}"></div>
	<div th:replace="~{fragments/block/back-to-gallery :: back()}"></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
