<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/site/header}"></div>

<main>
	<h1 th:text="${PageName}">Morton Lake Park</h1>

	<div th:replace="~{fragments/block/tags}"></div>

	<div th:replace="~{fragments/block/campground}"></div>

	<div>
		<details>
			<summary><h2 class="og-heading">Road map</h2></summary>
			<div style="width:750px;height:500px;clear:both"
			 th:insert="~{fragments/block/google-map :: map('road')}"></div>
		</details>
		<details>
			<summary><h2 class="og-heading">Campground map</h2></summary>
			<div style="width:750px;height:500px;clear:both"
			 th:insert="~{fragments/block/google-map :: map('campground')}"></div>
		</details>

		<p>Blurb goes here</p>

		<div th:replace="~{fragments/block/note-list :: notes('Additional information')}"></div>
		<div th:replace="~{fragments/block/note-list :: notes('Further readings')}"></div>
	</div>

	<details>
		<summary><h2 class="og-heading">Campground & lake</h2></summary>
		<div th:replace="~{fragments/block/photo-gallery :: gallery('atSite')}"></div>
	</details>
	<details>
		<summary><h2 class="og-heading">On the way</h2></summary>
		<div th:replace="~{fragments/block/photo-gallery :: gallery('onTheWay')}"></div>
	</details>

	<div th:replace="~{fragments/block/back-to-gallery :: back()}"></div>
</main>

<div th:replace="~{fragments/site/footer}"></div>
</html>
